* {
  margin: 0;
  padding: 0;
}
.avatar {
  border-radius: 50%;
  width: 450px;
}

.profil {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 73%;
  /* background-color: rgba(169, 166, 166, 0.149); */

  padding: 20px;
  margin: 30px auto;
}
.profil-info {
  width: 60%;
  padding: 30px;
  background-color: rgba(232, 228, 228, 0.438);
}
.profil-info ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 50%;
  font-weight: 700;
  margin: 5px 0 25px;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 73%;
  margin: 20px auto;
}
.card {
  width: 29%;
}

.card img {
  width: 80%;
}
.card h4 {
  width: 80%;
}
